<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511551702515-lnp1k6hgqd8cukc94d8gsaeicp3l0vpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511551702515-lnp1k6hgqd8cukc94d8gsaeicp3l0vpj</string>
	<key>API_KEY</key>
	<string>AIzaSyAAbBn-lLT9GcBvyYG2JSLnqFMWLn7Cvz0</string>
	<key>GCM_SENDER_ID</key>
	<string>511551702515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srpgroup.munkybox</string>
	<key>PROJECT_ID</key>
	<string>munkybox-27525</string>
	<key>STORAGE_BUCKET</key>
	<string>munkybox-27525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511551702515:ios:d764cf684eb6dcfcfffe86</string>
	<key>DATABASE_URL</key>
	<string>https://munkybox-27525-default-rtdb.firebaseio.com</string>
</dict>
</plist>